<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' >
</head>
<body>
    <h4>Register User</h4>
    <form action="/register" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="profile image" name="pic">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="register">
    </form>
    <br>
    <br>
    <h4>Login User</h4>
    <form action="/login" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>